{% block header %}
    <header>

        <a class="header-home-link" title="На главную" href="{{ base_url == '' ? '/' : base_url }}">
          <img class="logo" src="{{ url('image://logo.svg') }}">
          <div class="header-logo">
            {{ config.site.title }}
          </div>
        </a>

        {% block header_navigation %}
          <nav class="main-nav">
              {% include 'partials/navigation.html.twig' %}
          </nav>
        {% endblock %}

        <div class="phone">
          <a title="Позвонить {{ site.phones.mobile }}" href="tel:{{ site.phones.mobile }}">{{ site.phones.mobile }}</a>
        </div>

        
    </header>
{% endblock %}
